@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Tapestry&display=swap');
*{
  font-family: 'Tapestry', 'East Sea Dokdo',cursive;
  color:#6B3C22;
}
div {
  margin: 0px;
}
body {
  margin: 0px;
}
a {
  text-decoration:none;
}
ul{
  list-style-type: none;
  padding: 0px;
}
.container {
  display: grid;
  grid-template-areas:
  "header header header header"
  "nav article article article"
  "nav article article article"
  "nav article article article"
  "footer footer footer footer";
  background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074136_1280.jpg");
  font-size:calc(0.75em + 1vw);

}
.header {
  grid-area: header;
  text-align:center;
  font-size:6rem;
  padding:1rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px black;
}
.footer {
  grid-area: footer;
  text-align: center;
  border-top: dotted 1px white;
}
.nav  {
  grid-area: nav;
  border-right: solid 1px #6B3C22;
  text-align: center;
  margin-left: 0px;
  font-size: 2rem;
}
.article{
  grid-area: article;
  height: 39rem;
  overflow-y:scroll;
}
.nav ul li {
  padding:2.1rem 0rem;
}
.article h2{
  font-size: 5rem;
  margin: 0rem;
}
.article h3{
  font-size:3rem;
  margin-bottom: 0rem;
  margin-top:0rem;
}

.article div ul li{
  font-size: 2rem;
}
.head2{
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-top: 1rem;
}
.main2 {
  font-size: 2rem;
  padding: 0rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 540px) {
  .container {
    display: grid;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "article article article article"
    "article article article article"
    "footer footer footer footer";
    background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074136_1280.jpg");
    font-size:calc(0.75em + 1vw);
  }
  .nav ul li{
    margin: 0px;
    border-right:  1px dotted #6B3C22;
    text-align: center;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  .nav {
    border-bottom: solid 1px #6B3C22;
    font-size: 1.7rem;
  }
  .header{
    font-size: 4rem;
  }
}
