@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Tapestry&display=swap');
a {
animation: fadeIn ease 5s;
-webkit-animation: fadeIn ease 5s;
-moz-animation: fadeIn ease 5s;
-o-animation: fadeIn ease 5s;
-ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@-moz-keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@-webkit-keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@-o-keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@-ms-keyframes fadeIn {
0% {
  opacity:0;
}
100% {
  opacity:1;
}

}
body {
  margin:0;
  background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074136_1280.jpg");
}
a {
  color:#6B3C22;
  text-decoration:none;
  font-size:calc(0.75em + 9vw);
  text-align: center;
  display: inline-block;
  font-family: 'Tapestry', cursive;
}
div {
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
